{# Output main recipe div with border style #}
{% import 'macros.twig' as recipe_props %}

<div id="zlrecipe-container-{{ recipe_id }}" class="zlrecipe-container-border" {% if border_style %}style="border: {{ border_style|raw }};"{% endif %}>
    {% if schema_type == 'jsonld' %}
        <script type="application/ld+json">
            {{ jsonld|raw }}
        </script>
    {% endif %}
<div {{ recipe_props.recipe_attr('itemtype', "http://schema.org/Recipe", amp_on, schema_type) }}
    {{ recipe_props.recipe_attr('itemscope', false, amp_on, schema_type) }} >
<div id="zlrecipe-container" class="serif zlrecipe">
    <div id="zlrecipe-innerdiv">
    {% if recipe_actions %}
    <div style="text-align: right;">
        {{ recipe_actions|raw }}
    </div>
    {% endif %}
    <div class="item b-b">

      {# Add the print button, but not for amp, as the print button requires javascript
        https://github.com/ampproject/amphtml/blob/master/examples/standard-actions.amp.html
      #}
        {% if amp_on %}
            <button on="tap:AMP.print">{{ __('Print', 'zip-recipes') }}</button>
        {% else %}
            {% if not print_hide %}
            <div class="zlrecipe-print-link fl-r">
              {% if custom_print_image %}
                <a class="print-link" title="{{ __('Print this recipe','zip-recipes') }}" href="javascript:void(0);" onclick="zlrPrint('zlrecipe-container-{{ recipe_id }}', '{{ ZRDN_PLUGIN_URL }}'); return false" rel="nofollow">
                  <img src="{{ custom_print_image }}">
                </a>
              {% else %}
                <a class="butn-link" title="{{ __('Print this recipe','zip-recipes') }}" href="javascript:void(0);" onclick="zlrPrint('zlrecipe-container-{{ recipe_id }}', '{{ ZRDN_PLUGIN_URL }}'); return false" rel="nofollow"></a>
              {% endif %}
            </div>
          {% endif %}
        {% endif %}

      {# add the title and close the item class #}
      <div id="zlrecipe-title"
          {{ recipe_props.recipe_attr('itemprop', "name", amp_on, schema_type) }}
        class="b-b h-1 strong {% if title_hide %}texthide{% endif %}" >{{ recipe_title }}</div>
    </div>

    {# open the zlmeta and fl-l container divs #}
    <div class="zlmeta zlclear">
      <div class="fl-l width-50">
        {{ recipe_rating|raw }}

        {# recipe timing #}
        {% if prep_time %}
          <p id="zlrecipe-prep-time">
            {% if not prep_time_label_hide %}
              {{ __('Prep Time:','zip-recipes') }}
            {% endif %}
            <span class="prep_time"
                {{ recipe_props.recipe_attr('itemprop', "prepTime", amp_on, schema_type) }}
                {{ recipe_props.recipe_attr('content', prep_time_raw, amp_on, schema_type) }}
            >{{ prep_time }}</span>
          </p>
        {% endif %}

        {% if cook_time %}
          <p id="zlrecipe-cook-time">
            {% if not cook_time_label_hide %}
              {{ __('Cook Time:','zip-recipes') }}
            {% endif %}
            <span class="cook_time"
                {{ recipe_props.recipe_attr('itemprop', "cookTime", amp_on, schema_type) }}
                {{ recipe_props.recipe_attr('content', cook_time_raw, amp_on, schema_type) }}
            >{{ cook_time }}</span>
          </p>
        {% endif %}

        {% if total_time %}
          <p id="zlrecipe-total-time">
            {% if not total_time_label_hide %}
              {{ __('Total Time:','zip-recipes') }}
            {% endif %}
            <span
                {{ recipe_props.recipe_attr('itemprop', "totalTime", amp_on, schema_type) }}
                {{ recipe_props.recipe_attr('content', total_time_raw, amp_on, schema_type) }}
            >{{ total_time }}</span>
          </p>
        {% endif %}
            
        {% if category %}
          <p id="zlrecipe-category">
            {% if not category_label_hide %}
              {{ __('Category:','zip-recipes') }}
            {% endif %}
            <span
                {{ recipe_props.recipe_attr('itemprop', "recipeCategory", amp_on, schema_type) }}
                {{ recipe_props.recipe_attr('content', category, amp_on, schema_type) }}
            >{{ category }}</span>
          </p>
        {% endif %}            
            
         {% if cuisine %}
          <p id="zlrecipe-cuisine">
            {% if not cuisine_label_hide %}
              {{ __('Cuisine:','zip-recipes') }}
            {% endif %}
            <span
                {{ recipe_props.recipe_attr('itemprop', "recipeCuisine", amp_on, schema_type) }}
                {{ recipe_props.recipe_attr('content', cuisine, amp_on, schema_type) }}
            >{{ cuisine }}</span>
          </p>
        {% endif %}

        {{ author_section|raw }}

        {# !! close the first container div and open the second #}
      </div>

      <div class="fl-l width-50">
        {# !! yield and nutrition #}

        {% if yield %}
          <p id="zlrecipe-yield">
            {% if not yield_label_hide %}
                <span class="zrdn-servings-label">{{ __('Servings:','zip-recipes') }}</span>
            {% endif %}
            <span class="yield" {{ recipe_props.recipe_attr('itemprop', "recipeYield", amp_on, schema_type) }}>{{ yield }}</span>
          </p>
        {% endif %}

        {% if show_nutritional_info and show_nutritional_info_as_text %}
          <div id="zlrecipe-nutrition"
                  {{ recipe_props.recipe_attr('itemprop', "nutrition", amp_on, schema_type) }}
                  {{ recipe_props.recipe_attr('itemscope', false, amp_on, schema_type) }}
                  {{ recipe_props.recipe_attr('itemtype', "http://schema.org/NutritionInformation", amp_on, schema_type) }}>

          {% if serving_size %}
              <p id="zlrecipe-serving-size">
                {% if not serving_size_label_hide %}
                  {{ __('Serving Size:','zip-recipes') }}
                {% endif %}
                <span
                        {{ recipe_props.recipe_attr('itemprop', "servingSize", amp_on, schema_type) }}>{{ serving_size }}</span>
              </p>
            {% endif %}

            {% if calories %}
              <p id="zlrecipe-calories">
                {% if not calories_label_hide %}
                  {{ __('Calories per serving:','zip-recipes') }}
                {% endif %}
                <span
                        {{ recipe_props.recipe_attr('itemprop', "calories", amp_on, schema_type) }}>{{ calories }}</span>
              </p>
            {% endif %}

            {% if fat %}
              <p id="zlrecipe-fat">
                {% if not fat_label_hide %}
                  {{ __('Fat per serving:','zip-recipes') }}
                {% endif %}
                <span
                        {{ recipe_props.recipe_attr('itemprop', "fatContent", amp_on, schema_type) }}>{{ fat }}</span>
              </p>
            {% endif %}

            {% if saturated_fat %}
              <p id="zlrecipe-saturated-fat">
                {% if not saturated_fat_label_hide %}
                  {{ __('Saturated fat per serving:','zip-recipes') }}
                {% endif %}
                <span
                        {{ recipe_props.recipe_attr('itemprop', "saturatedFatContent", amp_on, schema_type) }}>{{ saturated_fat }}</span>
              </p>
            {% endif %}

            {% if carbs %}
              <p id="zlrecipe-carbs">
                {% if not carbs_label_hide %}
                  {{ __('Carbs per serving:','zip-recipes') }}
                {% endif %}
                <span
                        {{ recipe_props.recipe_attr('itemprop', "carbohydrateContent", amp_on, schema_type) }}>{{ carbs }}</span>
              </p>
            {% endif %}

            {% if protein %}
              <p id="zlrecipe-protein">
                {% if not protein_label_hide %}
                  {{ __('Protein per serving:','zip-recipes') }}
                {% endif %}
                <span
                        {{ recipe_props.recipe_attr('itemprop', "proteinContent", amp_on, schema_type) }}>{{ protein }}</span>
              </p>
            {% endif %}

            {% if fiber %}
              <p id="zlrecipe-fiber">
                {% if not fiber_label_hide %}
                  {{ __('Fiber per serving:','zip-recipes') }}
                {% endif %}
                <span
                        {{ recipe_props.recipe_attr('itemprop', "fiberContent", amp_on, schema_type) }}>{{ fiber }}</span>
              </p>
            {% endif %}

            {% if sugar %}
              <p id="zlrecipe-sugar">
                {% if not sugar_label_hide %}
                  {{ __('Sugar per serving:','zip-recipes') }}
                {% endif %}
                <span
                        {{ recipe_props.recipe_attr('itemprop', "sugarContent", amp_on, schema_type) }}>{{ sugar }}</span>
              </p>
            {% endif %}

            {% if sodium %}
              <p id="zlrecipe-sodium">
                {% if not sodium_label_hide %}
                  {{ __('Sodium per serving:','zip-recipes') }}
                {% endif %}
                <span
                        {{ recipe_props.recipe_attr('itemprop', "sodiumContent", amp_on, schema_type) }}>{{ sodium }}</span>
              </p>
            {% endif %}
                
            {% if trans_fat %}
              <p id="zlrecipe-trans_fat">
                {% if not trans_fat_label_hide %}
                  {{ __('Trans fat per serving:','zip-recipes') }}
                {% endif %}
                <span
                        {{ recipe_props.recipe_attr('itemprop', "transfatContent", amp_on, schema_type) }}>{{ trans_fat }}</span>
              </p>
            {% endif %}
                
            {% if cholesterol %}
              <p id="zlrecipe-cholesterol">
                {% if not cholesterol_label_hide %}
                  {{ __('Cholesterol per serving:','zip-recipes') }}
                {% endif %}
                <span
                        {{ recipe_props.recipe_attr('itemprop', "cholesterolContent", amp_on, schema_type) }}>{{ cholesterol }}</span>
              </p>
            {% endif %}

          </div>
        {% endif %}

        {# !! close the second container #}
      </div>
      <div class="zlclear">
      </div>
    </div>

    {# !! create image and summary container #}
    {% if image_attributes.url or summary %}
      <div class="img-desc-wrap">
          {%  if image_attributes.url %}
              <p class="t-a-c
                    {% if image_hide or is_featured_post_image %}hide-card{% endif %}
                    {% if image_hide_print %}hide-print{% endif %}
                    "
              >
                  <img class="photo zrdn-recipe-image"
                          {{ recipe_props.recipe_attr('itemprop', "image", amp_on, schema_type) }} src="{{ image_attributes.url }}" {% if image_attributes.srcset %}srcset="{{ image_attributes.srcset }}"{% endif %} {% if image_attributes.sizes %}sizes="{{ image_attributes.sizes }}"{% endif %} title="{{ recipe_title }}"
                          {% if image_attributes.alt %}
                              alt="{{ image_attributes.alt }}"
                          {% else %}
                              alt="{{ recipe_title }}"
                          {% endif %}
                          {% if image_width %}
                              style="{% if image_width %}width: {{image_width}}px;{% endif %}"
                          {% endif %} />
              </p>
          {% endif %}

          {% if summary %}
              <div id="zlrecipe-summary"
                      {{ recipe_props.recipe_attr('itemprop', "description", amp_on, schema_type) }}>
                  {{ summary_rich|raw }}
              </div>
          {% endif %}
      </div>
    {% endif %}

    {# ********************* #}
    {#       Ingredients     #}
    {# ********************* #}
    {% if not ingredient_label_hide %}
      <p id="zlrecipe-ingredients" class="h-4 strong">
        {{ __('Ingredients','zip-recipes') }}
      </p>
    {% endif %}

    {% set ingredientsHtmlListElem = ingredient_list_type %}
    {# one exception is when ingredient_list_type is 'l' #}
    {% if ingredient_list_type == 'l' %}{% set ingredientsHtmlListElem = 'ul' %}{% endif %}
    {% if ingredient_list_type == 'p' or ingredient_list_type =='div' %}{% set ingredientsHtmlListElem = 'span' %}{% endif %}

    {% set ingredientsHtmlListChildElem = 'li' %}
    {% if ingredient_list_type == 'p' %}{% set ingredientsHtmlListChildElem = 'p' %}{% endif %}
    {% if ingredient_list_type == 'div' %}{% set ingredientsHtmlListChildElem = 'div' %}{% endif %}

    {% for ingredient_list in nested_ingredients %}
      <{{ ingredientsHtmlListElem }} id="zlrecipe-ingredients-list">
        {% for ingredient in ingredient_list %}
          {% if ingredient.type == 'image' %}
            <img class="{% if image_hide_print %}hide-print{% endif %} {% if image_hide %}hide-card{% endif %}" src="{{ ingredient.attributes.url }}" {% if ingredient.attributes.srcset %}srcset="{{ ingredient.attributes.srcset }}"{% endif %} {% if ingredient.attributes.sizes %}sizes="{{ ingredient.attributes.sizes }}"{% endif %} {% if ingredient.attributes.title %} alt="{{ ingredient.attributes.title }}" {% endif %} />
          {% elseif ingredient.type == 'subtitle' %}
            {# no itemprop for sub-titles (aka labels) #}
            {# subtitles always use div #}
            <div class="{% if ingredient_list_type == 'l' %}ingredient no-bullet-label{% else %}ingredient-label{% endif %}">
              {{ ingredient.content|raw }}
            </div>
          {% else %}
            <{{ ingredientsHtmlListChildElem }} class="ingredient {% if ingredient_list_type == 'l' %}no-bullet{% endif %}"
              {{ recipe_props.recipe_attr('itemprop', "recipeIngredient", amp_on, schema_type) }}>
              {{ ingredient.content|raw }}
            </{{ ingredientsHtmlListChildElem }}>
          {% endif %}
        {% endfor %}
      </{{ ingredientsHtmlListElem }}>
    {% endfor %}

    {# ********************* #}
    {#      Instructions     #}
    {# ********************* #}
    {% if not instruction_label_hide %}
      <p id="zlrecipe-instructions" class="h-4 strong">{{ __('Instructions','zip-recipes') }}</p>
    {% endif %}

    {% set instructionsHtmlListElem = instruction_list_type %}
    {# one exception is when instruction_list_type is 'l' #}
    {% if instruction_list_type == 'l' %}{% set instructionsHtmlListElem = 'ul' %}{% endif %}
    {% if instruction_list_type == 'p' or instruction_list_type == 'div' %}{% set instructionsHtmlListElem = 'span' %}{% endif %}

    {# child is always 'li' unless 'div' or 'p' #}
    {% set instructionsHtmlChildElem = 'li' %}
    {% if instruction_list_type == 'p' %}{% set instructionsHtmlChildElem = 'p' %}{% endif %}
    {% if instruction_list_type == 'div' %}{% set instructionsHtmlChildElem = 'div' %}{% endif %}

    {% for instruction_list in nested_instructions %}
        <{{ instructionsHtmlListElem }} id="zlrecipe-instructions-list" class="instructions">
        {% for instruction in instruction_list %}
          {% if instruction.type == 'image' %}
            <img class="{% if image_hide_print %}hide-print{% endif %} {% if image_hide %}hide-card{% endif %}" src="{{ instruction.attributes.url }}" {% if instruction.attributes.srcset %}srcset="{{ instruction.attributes.srcset }}"{% endif %} {% if instruction.attributes.sizes %}sizes="{{ instruction.attributes.sizes }}"{% endif %} {% if instruction.attributes.title %} alt="{{ instruction.attributes.title }}" {% endif %} />
          {% elseif instruction.type == 'subtitle' %}
            {# no itemprop for sub-titles (aka labels) #}
            {# subtitles always use div #}
            <div class="{% if instruction_list_type == 'l' %}instruction no-bullet-label{% else %}instruction-label{% endif %}">
              {{ instruction.content|raw }}
            </div>
          {% else %}
            <{{ instructionsHtmlChildElem }} class="instruction {% if instruction_list_type == 'l' %}no-bullet{% endif %}"
              {{ recipe_props.recipe_attr('itemprop', "recipeInstructions", amp_on, schema_type) }}>
            {{ instruction.content|raw }}
            </{{ instructionsHtmlChildElem }}>
          {% endif %}
        {% endfor %}
      </{{ instructionsHtmlListElem }}>
    {% endfor %}

    {% if (video_embed) %}
        <div style="text-align: center;">
                {{ video_embed|raw }}
        </div>
    {% endif %}


    {# !! add notes section #}
    {% if notes %}
      {% if not notes_label_hide %}
        <p id="zlrecipe-notes" class="h-4 strong">{{ __('Notes','zip-recipes') }}</p>
      {% endif %}
      <div id="zlrecipe-notes-list">
       {{ formatted_notes|raw }}
      </div>
    {% endif %}
    {% if show_nutritional_info and not show_nutritional_info_as_text %}
        {{ nutrition_label|raw }}
    {% endif %}

    {# Zip Recipes attribution and version #}
    {% if not attribution_hide %}
      <div class="zl-linkback">Powered by <a title="Zip Recipes" href="https://ziprecipes.net" rel="nofollow" target="_blank">Zip Recipes</a></div>
    {% endif %}
    <div class="ziprecipes-plugin" style="display: none;">{{version}}</div>

    {# Add permalink for printed output before closing the innerdiv #}
    {% if not print_permalink_hide %}
      <a id="zl-printed-permalink" href="{{ permalink }}" title="Permalink to Recipe">{{ permalink }}</a>
    {% endif %}
  </div>

  {# Add copyright statement for printed output (outside the dotted print line) #}
  {% if copyright %}
    <div id="zl-printed-copyright-statement"
            {{ recipe_props.recipe_attr('itemprop', "copyrightHolder", amp_on, schema_type) }}>{{ copyright }}</div>
  {% endif %}
  </div>
</div>
</div>
