<style>
    .zrdn-promo {
        background-color:white;
        padding:30px;
        margin:20px;
    }
    .zrdn-promo ul {
        list-style-type: circle;
        margin-left: 30px;}
</style>
<div class="zrdn-promo">
    <h3>{{ __('Like the plugin, or need more features? Check out the premium features:','zip-recipes') }}</h3>
    <ul>
        <li>{{ __('Cool looking themes','zip-recipes') }}</li>
        <li>{{ __('Author setting for Google','zip-recipes') }}</li>
        <li>{{ __('Ratings','zip-recipes') }}</li>
        <li>{{ __('Recipe index','zip-recipes') }}</li>
        <li>{{ __('Nutrition calculation','zip-recipes') }}</li>
        <li>{{ __('Search by ingredients','zip-recipes') }}</li>
        <li>{{ __('Recipe picture gallery','zip-recipes') }}</li>
    </ul>
    <a target="_blank" href="https://ziprecipes.net/premium" class="button button-primary">Check premium</a>
</div>