<style>
  .form-table label { line-height: 2.5; }
  hr { border: none; border-top: 1px; margin: 30px 0; }

  .zrdn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-top: 0;
  }
  .zrdn-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding:30px;

  }
  .zrdn-column-3 {
    flex-grow: 3;
  }

</style>
<div class="wrap">
  <form method="post" action="" id="zlrecipe_settings_form" name="zlrecipe_settings_form">
    <h2><img src="{{ zrdn_icon }}" /> {{  __('Zip Recipes Settings','zip-recipes') }}</h2>
      {{  __('For more customization options, see our knowledgebase:','zip-recipes') }} <a href="https://ziprecipes.net/knowledge-base/how-to-use-the-zip-recipes-plugin/" target="_blank">Knowledgebase</a>

    <div class="zrdn-container">
      <div class="zrdn-column zrdn-column-3">
      {{ extensions_settings|raw }}
      <table class="form-table">
        <tr valign="top">
          <th scope="row">
            {{  __('Custom Print Button','zip-recipes') }}
            <br />
            (Optional)
          </th>
          <td>
            <input type="hidden" name="action" value="update_settings" />
            <input placeholder="URL to custom Print button image" type="text" name="custom-print-image" value="{{ custom_print_image }}" class="regular-text" />
          </td>
        </tr>
        <tr valign="top">
          <th scope="row">{{  __('Zip Recipes Plugin Link','zip-recipes') }}</th>
          <td><label><input type="checkbox" name="zrecipe-attribution-hide" value="Hide" {{ zrecipe_attribution_hide|raw }} /> {{  __('Hide plugin link','zip-recipes') }}</label></td>
        </tr>
        <tr valign="top">
          <th scope="row">{{  __('Printed Output: Recipe Permalink','zip-recipes') }}</th>
          <td><label><input type="checkbox" name="printed-permalink-hide" value="Hide" {{ printed_permalink_hide|raw }} /> {{  __('Hide permalink in printed output','zip-recipes') }}</label></td>
        </tr>
        <tr valign="top">
          <th scope="row"> {{  __('Printed Output: Copyright Statement','zip-recipes') }}</th>
          <td><input type="text" name="printed-copyright-statement" value="{{ printed_copyright_statement }}" class="regular-text" /></td>
        </tr>
        {{ author_section|raw }}
      </table>

      <hr />
      <h3>{{  __('Recipe Card Look & Feel','zip-recipes') }}</h3>
      <table class="form-table">
        <tr valign="top">
          <th scope="row">{{ __('Stylesheet','zip-recipes') }}</th>
          <td><label><input type="checkbox" name="stylesheet" value="zlrecipe-std" {{ stylesheet|raw }} /> {{  __('Use Zip Recipes style','zip-recipes') }}</label></td>
        </tr>
        <tr valign="top">
          <th scope="row">{{  __('Recipe Title','zip-recipes') }}</th>
          <td><label><input type="checkbox" name="recipe-title-hide" value="Hide" {{ recipe_title_hide|raw }} /> {{  __('Hide Recipe Title in post (still shows in print view)','zip-recipes') }}</label></td>
        </tr>
        <tr valign="top">
          <th scope="row">{{  __('Print Button','zip-recipes') }}</th>
          <td><label><input type="checkbox" name="print-link-hide" value="Hide" {{ print_link_hide|raw }} /> {{  __('Hide Print Button','zip-recipes') }}</label></td>
        </tr>
        <tr valign="top">
          <th scope="row">{{  __('Hide image when duplicate of post','zip-recipes') }}</th>
          <td><label><input type="checkbox" name="hide-on-duplicate-image" value="Hide" {{ hide_on_duplicate_image|raw }} /> {{  __('Hide recipe image when recipe image is the same as the post image','zip-recipes') }}</label></td>
        </tr>

        <tr valign="top">
          <th scope="row">{{  __('Image Width','zip-recipes') }}</th>
          <td><label><input type="text" name="image-width" value="{{ image_width }}" class="regular-text" /> {{ __('pixels','zip-recipes') }}</label></td>
        </tr>
        <tr valign="top">
          <th scope="row">{{  __('Image Display','zip-recipes') }}</th>
          <td>
            <label><input type="checkbox" name="image-hide" value="Hide" {{ image_hide|raw }} /> {{ __('Hide Image in post','zip-recipes') }}</label>
            <br />
            <label><input type="checkbox" name="image-hide-print" value="Hide" {{ image_hide_print|raw }} /> {{  __('Hide Image in print view','zip-recipes') }}</label>
          </td>
        </tr>
        <tr valign="top">
          <th scope="row">{{  __('Border Style','zip-recipes') }}</th>
          <td>
            <select name="outer-border-style">{{ obs|raw }}</select>
          </td>
        </tr>
      </table>
      <hr />
      <h3>{{  __('Ingredients','zip-recipes') }}</h3>
      <table class="form-table">
        <tr valign="top">
          <th scope="row">{{  __('Ingredients Label','zip-recipes') }}</th>
          <td>
            <label><input type="checkbox" name="ingredient-label-hide" value="Hide" {{ ingredient_label_hide|raw }} /> {{  __('Hide Ingredients label','zip-recipes') }}</label>
          </td>
        </tr>
        <tr valign="top">
          <th scope="row">{{  __('Ingredients List Type','zip-recipes') }}</th>
          <td>
            <input type="radio" id="ingredient-list-type-l" name="ingredient-list-type" value="l" {{ ing_l|raw }} />
            <label for="ingredient-list-type-l">{{  __('List','zip-recipes') }}</label>
            <br />
            <input type="radio" id="ingredient-list-type-ol" name="ingredient-list-type" value="ol" {{ ing_ol|raw }} />
            <label for="ingredient-list-type-ol">{{  __('Numbered List','zip-recipes') }}</label>
            <br />
            <input type="radio" id="ingredient-list-type-ul" name="ingredient-list-type" value="ul" {{ ing_ul|raw }} />
            <label for="ingredient-list-type-ul">{{  __('Bulleted List','zip-recipes') }}</label>
            <br />
            <input type="radio" id="ingredient-list-type-p" name="ingredient-list-type" value="p" {{ ing_p|raw }} />
            <label for="ingredient-list-type-p">{{  __('Paragraphs','zip-recipes') }}</label>
            <br />
            <input type="radio" id="ingredient-list-type-div" name="ingredient-list-type" value="div" {{ ing_div|raw }} />
            <label for="ingredient-list-type-div">{{  __('Divs','zip-recipes') }}</label>
          </td>
        </tr>
      </table>

      <hr />

      <h3>{{  __('Instructions','zip-recipes') }}</h3>
      <table class="form-table">
        <tr valign="top">
          <th scope="row">{{  __('Instructions Label','zip-recipes') }}</th>
          <td>
            <label><input type="checkbox" name="instruction-label-hide" value="Hide" {{ instruction_label_hide|raw }} /> {{  __('Hide Instructions label','zip-recipes') }}</label>
          </td>
        </tr>
        <tr valign="top">
          <th scope="row">{{  __('Instructions List Type','zip-recipes') }}</th>
          <td>
            <input type="radio" id="instruction-list-type-l" name="instruction-list-type" value="l" {{ ins_l|raw }} />
            <label for="instruction-list-type-l">{{  __('List','zip-recipes') }}</label>
            <br />
            <input type="radio" id="instruction-list-type-ol" name="instruction-list-type" value="ol" {{ ins_ol|raw }} />
            <label for="instruction-list-type-ol">{{  __('Numbered List','zip-recipes') }}</label>
            <br />
            <input type="radio" id="instruction-list-type-ul" name="instruction-list-type" value="ul" {{ ins_ul|raw }} />
            <label for="instruction-list-type-ul">{{  __('Bulleted List','zip-recipes') }}</label>
            <br />
            <input type="radio" id="instruction-list-type-p" name="instruction-list-type" value="p" {{ ins_p|raw }} />
            <label for="instruction-list-type-p">{{  __('Paragraphs','zip-recipes') }}</label>
            <br />
            <input type="radio" id="instruction-list-type-div" name="instruction-list-type" value="div" {{ ins_div|raw }} />
            <label for="instruction-list-type-div">{{  __('Divs','zip-recipes') }}</label>
          </td>
        </tr>
      </table>
      <hr />
      <h3>{{  __('Other Options','zip-recipes') }}</h3>
      <table class="form-table">
          {{ other_options|raw }}
      </table>

      <p><input type="submit" name="submit" id="submit" class="button-primary" value="Save Changes"></p>
    </div><div class="zrdn-column">
        {{ settings_promo|raw  }}
      </div>
    </div>
  </form>
</div>
